spring:
  data:
    redis:
      url: ${REDIS_URL}
  application:
    name: blobnom-kotlin
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  #  jackson:
  #    property-naming-strategy: SNAKE_CASE
  quartz:
    job-store-type: jdbc
    jdbc:
      initialize-schema: always
    properties:
      org:
        quartz:
          scheduler:
            idleWaitTime: 1000
          jobStore:
            driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate


jwt:
  secret: ${JWT_SECRET_KEY}
  expiration-time: 2592000000
server:
  port: 8080